{% extends 'base.html' %}

{% block title %} | Inicio de sesion{% endblock title %}

{% block content %}
<main class="hero is-fullheight backgound-python">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column is-two-fifths is-offset-8">
                    <section class="card">
                        <div class="card-content">
                            <h2 class="title is-4">Inicio de sesión</h2>
                            <form action="{{ url_for('auth.login') }}" method="post">
                                <div class="field">
                                    <label class="label">Correo</label>
                                    <div class="control">
                                        <input class="input  is-primary is-rounded" type="email" name="email"
                                            placeholder="Ingrese correo electronico..." required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Contraseña</label>
                                    <div class="control">
                                        <input class="input  is-primary is-rounded" type="password" name="password"
                                            placeholder="Ingrese contraseña..." required>
                                    </div>
                                </div>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-primary is-rounded" type="submit">Entrar</button>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                            No tengo cuenta, <a class="has-text-primary" href="{{ url_for('auth.register') }}">registrate
                                                aqui...</a>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'layout/messages-flash.html' %}
{% endblock %}