{% extends 'base.html' %}

{% block title %} | Registro {% endblock title %}

{% block content %}
<main class="hero is-fullheight backgound-python">
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column is-two-thirds is-offset-6">
                    <section class="card">
                        <div class="card-content">
                            <h2 class="title is-4">Registro</h2>
                            <form method="post" enctype="multipart/form-data" autocomplete="off">
                                <section class="columns is-multiline">
                                    <div class="column is-half">
                                        <div class="field">
                                            <label class="label">Nombres</label>
                                            <div class="control">
                                                <input class="input is-primary is-rounded" required type="text" name="first_name" placeholder="Ingrese sus nombres..."
                                                    value="{{ first_name }}">
                                            </div>
                                            {% for error in error_first %}
                                                <p class="help is-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="field">
                                            <label class="label">Apellidos</label>
                                            <div class="control">
                                                <input class="input is-primary is-rounded" required type="text" name="last_name" placeholder="Ingrese sus apellidos..."
                                                    value="{{ last_name }}">
                                            </div>
                                            {% for error in error_last %}
                                                <p class="help is-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="field">
                                            <label class="label">Edad</label>
                                            <div class="control">
                                                <input class="input is-primary is-rounded" required type="number" name="age" placeholder="Ingrese su edad..."
                                                    value="{{ age }}">
                                            </div>
                                            <p class="help is-danger">
                                                {{ error_age }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="field">
                                            <label class="label">Profesion</label>
                                            <div class="control">
                                                <input class="input is-primary is-rounded" required type="text" name="profession" placeholder="Ingrese su profesion..."
                                                    value="{{ profession }}">
                                            </div>
                                            {% for error in error_profession %}
                                                <p class="help is-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="field">
                                            <label class="label">Correo</label>
                                            <div class="control">
                                                <input class="input is-primary is-rounded" required type="email" name="email" placeholder="Ingrese su correo electronico..."
                                                    value="{{ email }}">
                                            </div>
                                            {% for error in error_email %}
                                                <p class="help is-danger">{{ error }}</p>
                                            {% endfor %}        
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="field">
                                            <label class="label">Contraseña</label>
                                            <div class="control">
                                                <input class="input is-primary is-rounded" required type="password" name="password" placeholder="Ingrese su contraseña..."
                                                    value="{{ password }}">
                                            </div>
                                            {% for error in error_password %}
                                                <p class="help is-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="field">
                                            <label class="label">Verificar contraseña</label>
                                            <div class="control">
                                                <input class="input is-primary is-rounded" required type="password" name="veri_pass" placeholder="Verifique su contraseña..."
                                                    value="{{ veri_pass }}">
                                            </div>
                                            {% for error in error_veri_pass %}
                                                <p class="help is-danger">{{ error }}</p>
                                            {% endfor %}    
                                        </div>
                                    </div>
                                    <div class="column is-half">
                                        <div class="field">
                                            <label class="label">Elige una imagen</label>
                                            <div class="file">
                                                <label class="file-label is-primary">
                                                    <input class="file-input is-primary" type="file" name="photo" accept="image/*">
                                                    <span class="file-cta is-primary">
                                                        <span class="file-label is-primary">
                                                            Subir foto...
                                                        </span>
                                                    </span>
                                                </label>
                                            </div>
                                            <p class="help is-danger">
                                                {{ error_photo }}
                                            </p>
                                        </div>
                                    </div>
                                </section>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button class="button is-primary is-rounded" type="submit">Registro</button>
                                    </div>
                                    <div class="control">
                                        <button class="button is-warning is-rounded" type="reset">Cancelar</button>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <label class="checkbox">
                                    Tengo cuenta, <a class="has-text-primary" href="{{ url_for('auth.index') }}">Inicie sesion...</a>
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
{% include 'layout/messages-flash.html' %}
{% endblock %}