{% extends 'base.html' %}

{% block title %} | Mis eventos {% endblock title %}

{% block content %}
{% include 'layout/navbar.html' %}
<main class="container">
    <div class="columns mt-2">
        <div class="column">
            <article class="card mb-2">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img class="" src="{{ url_for( 'static', filename='uploads/' ) }}{{ photo }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ first_name | capitalize }} {{ last_name | capitalize }}</p>
                            <p class="subtitel is-5">{{ profession | capitalize }}</p>
                            <p class="subtitle is-7">{{ email }}</p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="panel is-primary">
                <p class="panel-heading">
                    Acciones
                </p>
                <a class="panel-block" href="/user/edit?user={{ id }}">
                    Editar perfil
                </a>
                <a href="{{ url_for('event_route.store') }}" class="panel-block">
                    Crear Evento
                </a>
            </article>
        </div>
        <div class="column is-three-quarters">
            {% include 'layout/nav.html' %}
            {% if data %}
            {% include 'layout/navbar-tool.html' %}
            <section class="columns is-mobile is-multiline is-2-mobile is-2-tablet is-3-desktop is-4-widescreen is-4-fullhd">
                {% for event in data %}
                <section class="column">
                    <div class="card m-2" style="width: 250px; height: 250px;">
                        <header class="card-header">
                            <p class="card-header-title">
                                {{ event.title | upper }}
                            </p>
                        </header>
                        <section class="card-content card-overflow index scroll">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="{{ url_for('static', filename='uploads/') }}{{ event.event_photo }}"
                                            alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="subtitle is-6">{{ event.event_place | capitalize }}</p>
                                </div>
                            </div>
                            <div class="content">
                                {{ event.description | capitalize}}
                                <br>
                                <time datetime="{{ event.event_day }}">{{ event.event_day.strftime("%A %d. %B %Y")
                                    }}<br>{{ event.event_hour.strftime("%I:%M %p") }}</time>
                            </div>
                        </section>
                        <footer class="card-footer">
                            <a href="/event/edit?slug={{ event.slug }}" class="card-footer-item">Editar</a>
                        </footer>
                    </div>
                </section>
                {% endfor %}
            </section>
            {% else %}
            {% include 'layout/not-data.html' %}
            {% endif %}
        </div>
    </div>
</main>
{% include 'layout/footer.html' %}
{% include 'layout/messages-flash.html' %}
{% endblock %}