{% extends 'base.html' %}

{% block title %} | Actualizar mi perfil {% endblock title %}

{% block content %}
{% include 'layout/navbar.html' %}
<main class="container">
    <div class="columns mt-2">
        <div class="column">
            <form action="/user/change-photo?user={{ id }}" name="formImage" method="post" enctype="multipart/form-data">
                <h3 class="title is-4 has-text-centered">Foto de perfil</h3>
                <div class="image-upload">
                    <figure class="image is-4by3">
                        <img class="is-rounded-full" src="{{ url_for( 'static', filename='uploads/' ) }}{{ photo }}">
                    </figure>
                    <div class="cam" id="div-hover"></div>
                    <input class="input-image" id="input-hover" type="file" name="photo" accept="image/*">
                </div>
            </form>
        </div>
        <div class="column">
            {% include 'layout/nav.html' %}
            <section class="card">
                <div class="card-content">
                    <form method="post" autocomplete="off">
                        <section class="columns is-multiline">
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Nombres</label>
                                    <div class="control">
                                        <input  class="input is-primary is-rounded" type="text" name="first_name" required placeholder="Ingrese sus nombres..."
                                            value="{{ first_name }}">
                                    </div>
                                    {% for error in error_first %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Apellidos</label>
                                    <div class="control">
                                        <input  class="input is-primary is-rounded" type="text" name="last_name" required placeholder="Ingrese sus apellidos..."
                                            value="{{ last_name }}">
                                    </div>
                                    {% for error in error_last %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Edad</label>
                                    <div class="control">
                                        <input  class="input is-primary is-rounded" type="number" name="age" required placeholder="Ingrese su edad..."
                                            value="{{ age }}">
                                    </div>
                                    <p class="help is-danger">
                                        {{ error_age }}
                                    </p>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Profesion</label>
                                    <div class="control">
                                        <input  class="input is-primary is-rounded" type="text" name="profession" required placeholder="Ingrese su profesion..."
                                            value="{{ profession }}">
                                    </div>
                                    {% for error in error_profession %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Correo</label>
                                    <div class="control">
                                        <input  class="input is-primary is-rounded" type="email" name="email" required placeholder="Ingrese su correo electronico..."
                                            value="{{ email }}">
                                    </div>
                                    {% for error in error_email %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %} 
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Contraseña vieja</label>
                                    <div class="control">
                                        <input  class="input is-primary is-rounded" type="password" name="password" placeholder="Ingrese su contraseña..."
                                            value="{{ password }}">
                                    </div>
                                    {% for error in error_password %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Contraseña nueva</label>
                                    <div class="control">
                                        <input  class="input is-primary is-rounded" type="password" name="new_pass" placeholder="Ingrese su contraseña..."
                                            value="{{ new_pass }}">
                                    </div>
                                    {% for error in error_new %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Verificar contraseña nueva</label>
                                    <div class="control">
                                        <input  class="input is-primary is-rounded" type="password" name="veri_pass" placeholder="Verifique su contraseña..."
                                            value="{{ veri_pass }}">
                                    </div>
                                    {% for error in error_veri_pass %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-rounded is-primary" type="submit">Actualizar</button>
                            </div>
                            <div class="control">
                                <button class="button is-rounded is-warning" type="reset">Cancelar</button>
                            </div>
                            <div class="control">
                                <a class="button is-rounded is-danger" id="deleted-user" href="{{ url_for('user.delete_user') }}" type="reset">Eliminar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</main>
{% include 'layout/footer.html' %}
{% include 'layout/messages-flash.html' %}
{% endblock %}