{% extends 'base.html' %}

{% block title %} | Listado de usuarios {% endblock title %}

{% block content %}
{% include 'layout/navbar.html' %}
<main class="container">
    {% include 'layout/nav.html' %}
    <section class="columns is-mobile is-multiline is-2-mobile is-2-tablet is-3-desktop is-4-widescreen is-4-fullhd"> 
        {% for user in data %}
        <div class="column ">
            <article class="card m-2" style="width: 250px; height: 300px;">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img class="" src="{{ url_for( 'static', filename='uploads/' ) }}{{ user.photo }}">
                    </figure>
                </div>
                <div class="card-content card-overflow scroll">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">{{ user.first_name | capitalize }} {{ user.last_name | capitalize }}</p>
                            <p class="subtitel is-5">{{ user.profession | capitalize }}</p>
                            <p class="subtitle is-7">{{ user.email }}</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        {% endfor %}
    </section>
</main>
{% include 'layout/footer.html' %}
{% include 'layout/messages-flash.html' %}
{% endblock %}