{% extends 'base.html' %}

{% block title %} | Editar evento {% endblock title %}

{% block content %}
{% include 'layout/navbar.html' %}
<main class="container">
    <div class="columns mt-2">
        <div class="column">
            <section class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Actualizar evento
                    </p>
                </header>
                <div class="card-content">
                    <form method="post" enctype="multipart/form-data">
                        <section class="columns is-multiline">
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Titulo del evento</label>
                                    <div class="control">
                                        <input class="input is-primary is-rounded" type="text" name="title"
                                            placeholder="Ingrese el nombre del evento..." value="{{ title }}">
                                    </div>
                                    {% for error in error_title %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Direccion del evento</label>
                                    <div class="control">
                                        <input class="input is-primary is-rounded" type="text" name="event_place"
                                            placeholder="Ingresa la direccion del evento..." value="{{ event_place }}">
                                    </div>
                                    {% for error in error_place %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Fecha del evento</label>
                                    <div class="control">
                                        <input class="input is-primary is-rounded" type="date" name="event_day"
                                            placeholder="Ingrese la fecha del evento..." value="{{ event_day }}">
                                    </div>
                                    {% for error in error_day %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Hora del Evento</label>
                                    <div class="control">
                                        <input class="input is-primary is-rounded" type="time" name="event_hour"
                                            placeholder="Publique la hora del evento..." value="{{ event_hour }}">
                                    </div>
                                    {% for error in error_hour %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Es publico?</label>
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="is_published" value="1" {% if is_published %} checked {% endif %} >
                                            Si
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="is_published" value="0" {% if not is_published %} checked {% endif %}>
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-half">
                                <div class="field">
                                    <label class="label">Imagen del evento</label>
                                    <div class="file">
                                        <label class="file-label">
                                            <input class="file-input" type="file" name="event_photo" accept="image/*">
                                            <span class="file-cta">
                                                <span class="file-label">
                                                    Subir foto...
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    {% for error in error_image %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="column">
                                <div class="field">
                                    <label class="label">Describe</label>
                                    <div class="control">
                                        <textarea class="textarea is-primary" name="description" cols="30" rows="2"
                                            placeholder="Describa el evento...">{{ description }}</textarea>
                                    </div>
                                    {% for error in error_description %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </section>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-rounded is-primary" type="submit">Editar Evento</button>
                            </div>
                            <div class="control">
                                <button class="button is-rounded is-warning" type="reset">Cancelar</button>
                            </div>
                            <div class="control">
                                <a href="/event/deleted?slug={{ slug }}" id="deleted-event" class="button is-rounded is-danger" type="reset">Eliminar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
        <div class="column is-two-fifths">
            {% include 'layout/nav.html' %}
            <section class="is-flex is-justify-content-center is-align-items-center cont-image">
                <div class="image-flask">
                    <figure class="image is-square">
                        <img src="{{ url_for('static', filename='img/setting.svg') }}" alt="">
                    </figure>
                </div>
            </section>
        </div>
    </div>
</main>
{% include 'layout/footer.html' %}
{% include 'layout/messages-flash.html' %}
{% endblock %}