{% extends 'base.html' %}

{% block title %} | Informacion del evento {% endblock title %}

{% block content %}
{% include 'layout/navbar.html' %}
<main class="container pt-2">
    {% include 'layout/nav.html' %} 
    <div class="columns ">
        <div class="column">
            <h2 class="is-size-4 has-text-centered">Organizador</h2>
            <article class="card mb-2">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img class="" src="{{ url_for( 'static', filename='uploads/' ) }}{{ photo }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-3">{{ first_name | capitalize }} {{ last_name | capitalize }}</p>
                            <p class="subtitel is-5">{{ profession | capitalize }}</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="column">
            <h2 class="is-size-4 has-text-centered">Evento</h2>
            <article class="card mb-2">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img class="" src="{{ url_for( 'static', filename='uploads/' ) }}{{ event_photo }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-5">{{ event_place | capitalize }}</p>
                            <p>{{ description | capitalize }}</p>
                            <time class="subtitle is-7" datetime="{{ event_day }}">{{ event_day.strftime("%A %d. %B %Y")
                                }} {{ event_hour.strftime("%I:%M %p") }}</time>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</main>
{% include 'layout/footer.html' %}
{% include 'layout/messages-flash.html' %}
{% endblock %}