{% extends 'base.html' %}

{% block title %} | Eventos publicos {% endblock title %}

{% block content %}
{% include 'layout/navbar.html' %}
<main class="container pt-2">
    {% include 'layout/nav.html' %}
    {% if data %}
    <section class="columns is-mobile is-multiline is-2-mobile is-2-tablet is-3-desktop is-4-widescreen is-4-fullhd">
        {% for event in data %}
        <section class="column">
            <div class="card m-2" style="width: 250px; height: 250px;">
                <header class="card-header">
                    <p class="card-header-title">
                        {{ event.title | upper }}
                    </p>
                </header>
                <section class="card-content card-overflow scroll">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="{{ url_for('static', filename='uploads/') }}{{ event.event_photo }}"
                                    alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="subtitle is-6">{{ event.event_place | capitalize }}</p>
                        </div>
                    </div>
                    <div class="content">
                        {{ event.description | capitalize}}
                        <br>
                        <time datetime="{{ event.event_day }}">{{ event.event_day.strftime("%A %d. %B %Y") }}<br>{{
                            event.event_hour.strftime("%I:%M %p") }}</time>
                    </div>
                </section>
                <footer class="card-footer">
                    <a href="/event/get?slug={{ event.slug }}" class="card-footer-item">Ver completo</a>
                </footer>
            </div>
        </section>
        {% endfor %}
    </section>
    {% else %}
    {% include 'layout/not-data.html' %}
    {% endif %}
</main>
{% include 'layout/footer.html' %}
{% include 'layout/messages-flash.html' %}
{% endblock %}