<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error404.css') }}">
    <title>No encontrada</title>
</head>
<body>
    <main class="content">
        <div class="flex-content">
            <section class="center">
                <div class="content-center">
                    <h5>Pagina no encontrada</h5>
                    <a href="{{ url_for('home.index') }}">Regresar a casa...</a>
                </div>
            </section>
        </div>
    </main>
</body>
</html>