<footer class="footer my-footer">
    <div class="content has-text-centered">
        <p>
            <strong>Yesid Gonzalez</strong> - <a href="https://gitlab.com/Yesid-Q" target="_blank">@Yesid-Q</a>
        </p>
    </div>
</footer>