<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{{ url_for('static', filename='js/alert.js' ) }}"></script>
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <script>
                    Toast.fire({
                        icon: 'error',
                        text: "{{message}}",
                    })
                </script>
            {% else %}
                <script>
                    Toast.fire({
                        icon: 'success',
                        text: "{{message}}",
                    })
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith  %}