<div class="tabs is-right">
    <ul>
        <li class="{% if url_for(request.endpoint) == '/'%}is-active{% endif %}">
            <a href="{{ url_for('home.index') }}">Activos</a>
        </li>
        <li class="{% if url_for(request.endpoint) == '/past'%}is-active{% endif %}">
            <a href="{{ url_for('home.past') }}">Inactivos</a>
        </li>
        <li class="{% if url_for(request.endpoint) == '/event/'%}is-active{% endif %}">
            <a href="{{ url_for('event_route.index') }}">Eventos publicos</a>
        </li>
    </ul>
</div>