<header class="container">
    <nav class="navbar" role="navigation">
        <div class="container is-flex is-justify-content-space-between">
            <a class="navbar-item" href="{{ url_for('home.index') }}">
                <img src="{{ url_for('static', filename='img/calendar.svg') }}" width="70" height="70">
                <div class="title is-3 is-italic is-family-monospace">Eventos</div>
            </a>
            <div class="navbar-item">
                <a href="{{ url_for('auth.logout') }}" class="button is-rounded is-primary">
                    <strong>Cerrar sesion</strong>
                </a>
            </div>
        </div>
    </nav>
</header>