<nav class="level">
    <div class="level-left">
        <p class="level-item">
        <div class="select is-rounded is-primary">
            <select name="option" id="select-flask">
                <option value="" selected>Seleccione una opcion</option>
                <option value="date">Fecha</option>
                <option value="hour">Hora</option>
                <option value="description">Descripcion</option>
                <option value="place">Lugar</option>
            </select>
        </div>
        </p>
    </div>
    <form method="get" class="level-right">
        <p class="level-item">
            <input class="input is-primary is-rounded" id="input1" disabled>
        </p>
        <p class="level-item">
            <input class="input is-primary is-rounded" id="input2" disabled>
        </p>
        <p class="level-item">
            <button class="button is-primary is-rounded">Buscar</button>
        </p>
    </form>
</nav>