<section class="is-full not-data is-flex is-justify-content-center">
    <div class="is-relative">
        <div class="is-absolute">
            <img class="img-not-data" src="{{ url_for('static', filename='img/calendar.svg') }}">
            <span>
                <p class="info-not-data">No tienes eventos registrados, programar uno!!!</p>
                <a href="{{ url_for('event_route.store') }}" class="button is-primary is-rounded" >Vamos a Programar un evento</a>
            </span>
        </div>
    </div>
</section>