<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/calendar.svg') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Agendame{% block title %}{% endblock title %}</title>
</head>
<body>
    
    {% block content %}
        
    {% endblock %}
    <script src="{{ url_for('static', filename='js/js.js') }}"></script>
</body>
</html>